{% extends "base.html" %}

{% block title %}Lista de Proyectos{% endblock %}

{% block content %}
        <form action="{% url "crear_projecto" %}" method="post">
            {% csrf_token %} 
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre proyecto:</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label for="link" class="form-label">Link del proyecto:</label>
                <input type="text" class="form-control" id="link" name="link">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <a class="btn btn-outline-info" href="{% url "listar_todos" %}" role="button">Mostrar proyectos</a>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Link</th>
                    <th scope="col">Imagen</th>
                    <th scope="col-2">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proyecto in proyectos %}
                    <tr>
                        <td>{{proyecto.pk}}</td>
                        <td>{{proyecto.nombre}}</td>
                        <td>{{proyecto.descripcion}}</td>
                        <td>
                            <a class="link-opacity-100" href="{{proyecto.link}}">ver {{proyecto.nombre}} </a>
                        </td>
                        <td>{{proyecto.imagen}}</td>
                        <td> 
                            <a class="btn btn-secondary" href="{% url "editar_projecto" proyecto.id %}" role="button">Editar</a>
                            <a class="btn btn-danger" href="{% url "eliminar_projecto" proyecto.id%}" role="button">Eliminar</a>
                        </td>
                    </tr>
                     {% empty %}
                     <tr>
                        <td class="col-4"> No existen proyectos registrados</td>
                     </tr>
                        {% endfor %}
                    
            </tbody>
        </table>
    {% endblock %}